
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 13%; /* Dark terminal background */
    --foreground: 0 0% 100%; /* Bright terminal text */
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 262 83% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border font-mono;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
